<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="profile">Profile</a>
  <a href="auth/login">Login</a>
</div>
<div>
    <a href="/auth/{{status}}"><button>{{status}}</button></a>
</div>